<h1>Welcome to Hobbiest!</h1>
<h2>Create a new account, or <%= link_to "log in.", login_path %></h2>
<%= form_for :user, url: '/users' do |f| %>
  Username: <%= f.text_field :username %><br>
  Password: <%= f.password_field :password %><br>
  Password Confirmation: <%= f.password_field :password_confirmation %><br>
  <%= f.submit "Submit" %>
<% end %>

<% if flash[:errors] %>
<%= flash[:errors] %>
<% end %>