 <div class="container text-center">
    <%if session[:admin] %>
    <h1 class ="test-center">Hey there Admin <%= session[:username] %>!</h1>
    <% else %>
    <h1>Hey there <%= session[:username] %>!</h1>
    <% end %>
    <br><br><br>
</div>
<div class="container text-center">
    <h3>Look At All Our <%= link_to "Hobbies", '/hobbies' %></h3>
    <h3>Or Search By <%= link_to "Category", '/categories' %></h3>
    <br><br>
    
        <% if session[:admin] %>
        <h2>Admin Privileges:<br>
        <%= link_to "Materials Edit", materials_path %><br>
        <%= link_to "Analytics", analytics_path %><br>
        <%= link_to "User Management", users_path %></h2>
    <% end %>
    </div>
</div>