<h1>Hobby Form</h1><br>

<%= form_for @hobby do |f| %>

<%= f.label :name %><br>
<%= f.text_field :name %><br><br>

<%= f.label :category %><br>
<%= f.collection_select :category, @categories, :id, :name, include_blank: false %><br><br>

<%= f.label :description %><br>
<%= f.text_area :description %><br><br>

<%= f.collection_check_boxes :material_ids, @materials, :id, :name, include_blank: false %><br><br>
    <%= f.fields_for :materials do |ff|%>
        <%= ff.label :name %><br>
        <%= ff.text_field :name %><br><br>
    <% end %>

<%= f.submit %>

<% end %>
