
    <h1><%= @hobby.name %></h1>
    <h2><%= @hobby.description %>
    <h2>Category: <% @hobby.categories.each do |c| %> 
    <%= link_to c.name, c %>,  
    <% end %></h2>
    <h2>Materials Needed:<br><br>
    <ul><%  @hobby.materials.each do |m| %>
            <li><%= link_to m.name, m.url, target: :_blank %></li><br>
            <% if session[:username] == @hobby.created_by || session[:admin] %>
                <%= button_to "Remove #{m.name}", hobby_material_path(@hobby.hobby_materials.find_by(material_id: m.id).id), method: :delete %>
                <% end %>
        <% end %></ul>
    </h2>
    <% if @hobby.created_by && @hobby.created_by != "Admin"  %>
        <h4>Contributed by: <%= @hobby.created_by %></h4>
    <% end  %>

    <% if session[:username] == @hobby.created_by || session[:admin] %>
        <%= button_to "Delete Hobby", hobby_path(@hobby), method: :delete %>
    <% end %>
    <%= button_to "Save Hobby", hobby_path(@hobby), method: :patch %>