<!DOCTYPE html>
<html>
  <head>
    <title>HobbiestProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %><br>
    <%= link_to "All Hobbies", hobbies_path%><br>
    <%= link_to "My Profile", User.find_by(username: session[:username]) %><br><br>
    <%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
      <input type=submit value='logout'>
    <% end %>
  </body>
</html>
