<!DOCTYPE html>
<html>
  <head>
    <title>HobbyistProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

 <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="/">
    <img src="/letter-h-2.jpg" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
    Hobbyist
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="http://localhost:3000/hobbies">All Hobbies<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://localhost:3000/users/<%= User.find_by(username: session[:username]).id %>">My Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://localhost:3000/hobbies/new">Contribute A Hobby</a>
      </li>
    </ul>
    <span class="navbar-text">
      <% if @logged_in %>
      <%= link_to "Log Out", logout_path %>
      <% else %>
      <%= link_to "Log In", login_path%> |
      <%= link_to "Create Account", new_user_path%>
      <% end %> 
    </span>
  </div>
</nav>


    <%= yield %><br>
    
  </body>
</html>
